/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/
.bold{
	font-weight: bold;
}
.resume h4{
	text-decoration: underline;
	margin-bottom: 3px;
	font-weight:bold;
	font-size: 120%;
}

ul{
	padding-left: 25px;
}
ul ul{
	padding-left: 20px !important;
}

#home{
	/*background-image: url("../images/family.jpg"); 
	-webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;*/
      
      /* Location of the image */
  /*background-image: url("../images/family.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;*/
}

.bennettBackground{
	height: 100vh;
	position:absolute;
	margin-left: -18%;
	z-index:0!important;
}

.bennettBackground img{
	max-height: 100%
}

.aboutBennettP{
  font-weight: bold !important;
}
.fullscreen-hero .hero-content .hero-inner{
	display: table-cell;
    width: 100%;
    vertical-align: bottom !important;
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.aboutBennettP{
	  font-size: 115%;
	}
	.bennettBackground{
	height: 100vh;
	position:absolute;
	margin: 0 0 0 0;
	z-index:0!important;
	}
	.bennettBackground img{
		width: 100vw !important;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
#home{
	background-image: none;
	background-color:#F2F3F4;
}
.leftSide{
	background-color:#A9AAAA;
	display:flex;
	align-items:center;
	padding-left:2.5rem;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.familyPhoto{
	width: 50%;
	height: 100%;
}
.familyPhoto img{
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;		
}
.aboutBennettP{
  font-weight: normal;
  font-size:90%;
}
.fullscreen-hero .hero-content .hero-inner{
	display: table-cell;
    width: 100%;
    vertical-align: middle !important;
}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}